.content-container {
  background-color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;

  @media (max-width: 768px) { 
    height: auto;
    padding: 10px;
  }
}

.definition-container {
  padding: 20px; // Reduced padding for better fit
  width: 90%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  // border: none;
  box-shadow: none;
  justify-content: space-between;
  // align-items: center;

  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .left-section {
      width: 50%;
      padding-right: 20px;

      p {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1rem;
        color: #1d2731;
        line-height: 1.6;
      }
      .eligibility {
        margin-top: 20px;

        strong {
          font-size: 1.2rem;
          font-weight: bold;
          color: #1d2731;
        }

        ul {
          list-style-type: disc;
          padding-left: 20px;
          margin-top: 10px;

          li {
            font-size: 1rem;
            color: #1d2731;
            margin-bottom: 5px;
          }
        }
      }
    }

    .right-section {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .business-image {
        max-width: 90%;
        height: auto;
      }
    }
  }

  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1d2731;
    margin-bottom: 15px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px; // Added padding for button spacing
  }

  .apply-button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #083c5d;
    color: #ffffff;
    border-radius: 4px;
    text-transform: none;

    &:hover {
      background-color: #1d2731;
    }
  }

  @media (max-width: 768px) {
    .definition-container {
      flex-direction: column;
      padding: 15px;
    }

    .content {
      flex-direction: column;

      .left-section {
        width: 100%;
        padding-right: 0;
      }

      .right-section {
        width: 100%;
        margin-top: 20px;
      }
    }

    .heading {
      font-size: 1.8rem;
    }

    .apply-button {
      width: 100%;
    }
  }
}
