<div style="width: 100%; height: 100%; background-color: white;">
    <div class="about-container mat-elevation-z2">
        <mat-card style="box-shadow: none;">
          <mat-card-header style="padding-bottom: 20px !important;">
            <mat-card-title class="about-heading">Welcome to Loan mate – Your Trusted Loan Partner</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              With a decade of experience in the financial sector, Loan mate stands as Chennai’s most trusted loan provider. Specializing in securing loans from nationalized banks, we offer a comprehensive range of financial solutions tailored to meet your needs.
            </p>
            <p>
              <strong>Our Services Include:</strong>
            </p>
            <mat-list class="custom-mat-list">
              <mat-list-item class="no-truncate">
                <span><strong>Business Loans:</strong> Empowering your ventures with flexible financing options.</span>
              </mat-list-item>
              <mat-list-item class="no-truncate">
                <span><strong>Personal Loans:</strong> Catering to your individual financial requirements with competitive rates.</span>
              </mat-list-item>
              <mat-list-item class="no-truncate">
                <span><strong>Overdraft and Credit Card Loans (OD/CC):</strong> Providing quick access to funds when you need them.</span>
              </mat-list-item>
              <mat-list-item class="no-truncate">
                <span><strong>Startup Loans:</strong> Supporting new businesses with loans up to ₹50 crores.</span>
              </mat-list-item>
              <mat-list-item class="no-truncate">
                <span><strong>MSME Loans:</strong> Offering the best interest rates for micro, small, and medium enterprises.</span>
              </mat-list-item>
            </mat-list>
            <p>
              At Loan mate, we pride ourselves on our commitment to excellence and customer satisfaction. Whether you're starting a new business, expanding an existing one, or need personal financial support, we are here to help you achieve your goals with ease and confidence.
            </p>
            <p>
              Contact us today to discover how we can assist you in securing the right loan for your needs.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      
</div>