<div class="card-container">
    <div class="container">
        <mat-grid-list [cols]="cols" rowHeight="1:1" gutterSize="20px" class="grid-container">
          <mat-grid-tile *ngFor="let card of cards" class="card-tile">
            <mat-card class="card" (click)="routePage(card.route)">
              <mat-card-header>
                <mat-card-title>{{ card.header }}</mat-card-title>
              </mat-card-header>
              <mat-card-content class="content">
                <img [src]="card.image" alt="logo" style="width: 74%; height: 80%;">
              </mat-card-content>
              <mat-card-footer class="footer">
                <span>{{ card.footer }}</span>
              </mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
</div>
  