<div class="home-container">
  <div class="left-section">
    <h1>Real Support, Reliable Loans You Can Count On</h1>
    <p>Welcome to Loan mate, where securing the right loan is simple, fast, and tailored just for you. Whether you’re buying a home, starting a business, or consolidating debt, our expert team is here to navigate you through every step of the loan process.</p>
    <button mat-raised-button class="get-loan" routerLink="/loan-list">Get Loan</button>
  </div>
  <div class="right-section">
    <img src="assets/images/loanBackground.jpg" alt="Loan Options" class="home-image">
  </div>
</div>
